#login_container {
  background-color: white;
  width: 300px;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

#web_login {
  background-color: white;
}
.field_log {
  width: 300px;
  background-color: #efefef;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

#button_submit {
  border-style: none;
    border-color: inherit;
    border-width: medium;
width: 226px;
    background-color: #209781;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
    clear: both;
}

#layout {
  float: left;
}

#button_layout {
  width: 200px;
  background-color: #209781;
  font-size: 20px;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
}



#login_container1 {
  background-color: blue;
  width: 300px;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}
.field_log1 {
  width: 300px;
  background-color: #DC143C;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
#button_submit1 {
  width: 250px;
  background-color: #FFA07A;
  font-size: 20px;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  clear: both;
}

#login_container2 {
  background-color: #FFE4B5;
  width: 300px;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  -moz-box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
  box-shadow: 3px 3px 30px 5px rgba(204, 204, 204, 0.9);
}

.field_log2 {
  width: 300px;
  background-color: #FFFFE0;
  color: #666;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}
#button_submit2 {
  width: 250px;
  background-color: #FFA07A;
  font-size: 20px;
  color: white;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  outline: none;
  clear: both;
}
